:root {
    --bg1: white;
    --bg2: rgb(40, 40, 40);
    --accent1: rgb(0, 135, 255);
    --accent1light: cyan;
    --accent2: rgb(255, 115, 0);
    --textdark: black;
    --textlight: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 56px;
}
html::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}
.behindnav {
    height: 56px;
}
/* NAVBAR START */

nav {
    width: 100vw;
    height: 56px;
    background-color: var(--bg2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
}
.nav-contents {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.nav-contents-left {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.nav-contents-left img {
    border-radius: 50%;
}
.nav-contents-left h1 {
    color: var(--textlight);
}
.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.menu-links a {
    color: var(--textlight);
}
.menu-links a:hover {
    color: var(--accent1light);
}

/* NAVBAR END */

/* HERO START  */

#hero {
    width: 100vw;
    height: fit-content;
}
.hero-contents {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    min-height: calc(100vh - 56px);
    
}
.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
}
.textbox h1 {
    font-size: 2rem;
}
.btns {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
.button {
    border-radius: 20px;
    padding: 10px 15px;
}
.btn1 {
    background-color: var(--accent1);
    color: var(--textlight);
    border: 2px solid var(--accent1);
    transition: all 0.3s ease;
}
.btn1:hover {
    background-color: transparent;
    color: var(--textdark);
    border: 2px solid var(--textdark);
    transition: all 0.3s ease;
}
.btn2 {
    background-color: transparent;
    color: var(--textdark);
    border: 2px solid var(--textdark);
    transition: all 0.3s ease;
}
.btn2:hover {
    background-color: var(--accent1);
    color: var(--textlight);
    border: 2px solid var(--accent1);
    transition: all 0.3s ease;
}

/* HERO END */

/* ABOUT START  */

.title {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
#about {
    background-color: var(--bg2);
    width: 100vw;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-contents {
    width: 100%;
    max-width: 1300px;
    color: var(--textlight);
    font-size: 1.5rem;
}
.about-contents img {
    float: left;
    margin: 0 2rem 2rem 0;
    border-radius: 10px;
}
.about-contents p {
    text-align: justify;
}

/* ABOUT END */

/* SERVICES START */

#services {
    width: 100vw;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-contents {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 2rem;
    justify-items: center;
    align-items: normal;
}
.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.image {
    width: 180px;
    height: 180px;
    background-color: gray;
    border-radius: 20px;
}

/* SERVICES END */